{% extends "BloggerBlogBundle::layout.html.twig" %}

{% block body %}
    {% for blog in blogs %}
<article class="blog">
    
    
    <header>
        <h2><a href="{{ path( 'BloggerBlogBundle_blog_show', { 'id':blog.id, 'slug':blog.slug } ) }}">{{ blog.title }}</a></h2>
    </header>
    <u class="postinfo">
        <li class="date"><time datetime="{{ blog.created|date('c') }}" >{{ blog.created|date('l, F j, Y') }}</time></li>
    </u>
    
    
    <div class="snippet" >
        <img src="{{ asset( ['images/', blog.image]|join ) }}" />
        <p>{{ blog.blog(500)|nl2br }}</p>
        <p class="continue"><a href="{{ path( 'BloggerBlogBundle_blog_show', { 'id':blog.id, 'slug':blog.slug } ) }}" >Continue reading...</a></p>
    </div>
    
    <footer class="meta">
        <p>Comments: <a href="{{ path('BloggerBlogBundle_blog_show', { 'id':blog.id, 'slug':blog.slug }) }}#comments" >{{ blog.comments|length }} </a></p>
        <p>Posted by <span class="highlight">{{blog.user}}</span> at {{ blog.created|date('h:iA') }}</p>
        <p>Tags: <span class="highlight">{{ blog.tags }}</span></p>
    </footer>
    
    
</article>
    {% else %}
        <p>There are no blog entries on sfblog.</p>
    {% endfor %}
{% endblock %}
